.hero{
    .hero__img{
        width: 100%;
    }
    .hero__wrapp{
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        padding: 0 20px;
        grid-gap: 10px;
            .hero__items{
                position: relative;
                top: -100%;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                width: 450px;
                height: 550px;
                background-color: #fff;
                align-items: center;
                padding: 0 20px;
                .hero__item{
                    width: 250px;
                    height: 200px;
                    img{
                        width: 150px;
                        height: 150px;
                        object-fit: cover;
                }
            }
        }
    }
}